* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerSection,
.mainMap {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.donut-chart {
  max-width: 400px; /* Set maximum width */
  max-height: 400px; /* Set maximum height */
  width: 100%; /* Make it fill the parent container */
  height: auto; /* Allow it to adjust height based on width */
}

@media (max-width: 768px) {
  .donut-chart {
    max-width: 300px; /* Adjust maximum width for smaller screens */
    max-height: 300px; /* Adjust maximum height for smaller screens */
  }
}
